
body {
  padding: 40px;
  background-color: #f8f9fa;
  color: #000;
}

h1 {
  text-align: center;
  color: #2e8b57;
  margin-bottom: 20px;
  font-size: 3em;
}


h2, h3 {
  text-align: center;
  color: #000000;
  margin-bottom: 15px;
  line-height: 1.5;
}

ul {
  max-width: 800px;
  margin: 0 auto 30px auto;
  padding: 0 20px;
  line-height: 1.8;
  font-size: 1.1em;
  color: #000;
}

li {
  margin-bottom: 15px;
  color: #000;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 50%;
}
th, td {
  border: 1px solid #333;
  padding: 8px;
  text-align: center;
}

thead {
  background-color: #ccc;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.site-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.site-container a:hover {
  transform: scale(1.05);
}

.site-container a img {
  max-width: 150px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul[style] li {
  background: #fff;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: #000;
}

ul[style] li img {
  border-radius: 10px;
  margin-bottom: 10px;
}

em {
  font-weight: bold;
  color: #000;
}

.site-container.no-card a {
  display: inline;
  transition: none;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.site-container.no-card a img {
  box-shadow: none !important;
  border-radius: 0 !important;
}
