*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(imagens/Capa\ Simples\ De\ Casamento\ Folhas\ Verdes\ Fundo\ Planta\ Tropical\,\ Casamento\,\ Barra\,\ Cafeteria\ Imagem\ de\ plano\ de\ fundo\ para\ download\ gratuito.jpeg);
    background-size: cover;
    background-position: center;
}

.login-form{
    background: rgba(64, 64, 64, 0.15);
    border: 3px solid rgba(255, 255, 255, 0.3);
    padding: 30px;
    border-radius: 16px;
    backdrop-filter: blur(25px);
    text-align: center;
    color: #ffffff;
    width: 400px;
    box-shadow: 0px 0px 20px 10px rgba(0 0 0 0.15);
}

.login-title{
    font-size: 40px;
    margin-bottom: 40px;
}

.input-box{
    margin:  20px;
    position: relative;
}

.input-box{
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 12px 12px 12px 45px;
    border-radius: 99px;
    outline: 3px solid transparent;
    transition: 0.3s;
    font-size: 17px;
    color: #ffffff;
    font-weight: 600;
}

.input-box input::placeholder{
    color: rgba(255, 255, 255, 0.8);
    font-size: 17px;
    font-weight: 500;
}

.input-box input:focus{
    outline: 3px solid rgba(255, 255, 255, 0.3);
}

.input-box input::-ms-reveal{
    filter: invert(100%);
}

.input-box i{
    position: absolute;
    left: 40px;
    top: 19%;
    transform: translate(-50%);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.remember-forgot-box{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 15px;
} 

.remember-forgot-box label{
    display: flex;
    gap: 8px;
    cursor: pointer;
}

.remember-forgot-box input{
    accent-color: #ffffff;
    cursor: pointer;
}

.remember-forgot-box a{
    color: #ffffff;
    text-decoration: none;
}

.remember-forgot-box a:hover{
    text-decoration: underline;
}

.login-btn{
    width: 100%;
    padding: 10px 0;
    background: #2f9cf4;
    border: none;
    border-radius: 99px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover{
    background: #0b87ec;
}

.register{
    margin-top: 15px;
    font-size: 15px;
}

.register a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}

.register a:hover{
    text-decoration: underline;
}